#drawing-canvas {
    width: 50vw;
    height: 50vw;
    position: absolute;
    left: 50vw;
    transform: translate(-50%);
    cursor: none;
}

html {
    margin: none;
}

#ui-container {
    position: absolute;
    left: 50vw;
    width: 50vw;
    height: 50vw;
    top: 0px;
    transform: translate(-50%);
}

#displayDist {
    float: right;
}

.main-button {
    background-color: rgb(110, 64, 15);
    width: 70%;
    height: 10%;
    position: relative;
    margin-top: 5%;
    margin-bottom: 5%;
    left: 50%;
    transform: translate(-50%);
    border: 0px;
    border-radius: 10px;
    color: white;
    font-size: 2.5em;
    font-family: "Racing Sans One";
    box-shadow: 0px 3px rgb(68, 47, 8);
}

.back-button {
    background-color: rgb(124, 8, 8);
    box-shadow: 0px 3px rgb(56, 4, 4);
    color: white;
    margin-top: 10px;
    padding: 5px;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-left: 5%;
    font-size: 1.7em;
    border: 0px;
    border-radius: 15px;
}

.back-button:hover {
    background-color: rgb(70, 6, 6);;
}

.title-text {
    font-size: 2.8em;
    position: relative;
    width: fit-content;
    left: 50%;
    transform: translate(-50%);
    color: white;
    font-family: "Racing Sans One";
}

#road-canvas {
    width: 70%;
    height: 50%;
    background-color: rgb(61, 61, 61);
    position: relative;
    left: 50%;
    transform: translate(-50%);
    border-radius: 5%;
}

.main-button:hover {
    background-color: rgb(79, 47, 13);
}

.background-div {
    background-color: rgb(225, 181, 50);
    width: 100%;
    height: 100%;
}

#spawn-button {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 80%;
    background-color: rgb(16, 198, 32);
    font-size: 2em;
    font-family: 'Racing Sans One';
    color: white;
    border: none;
    border-radius: 15px;
    width: 25%;
    display: none;
}

#spawn-button:hover {
    background-color:  rgb(4, 73, 8);
}

#overlappingInstructorDiv {
    background-color: rgb(54, 54, 222);
    border: 4px lightblue solid;
    border-radius: 10px;
    width: 60%;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%);
    display: none;
}

#instructorNameDiv {
    border-radius: 20px;
    padding-left: 5%;
    padding-right: 5%;
    margin: 1%;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: darkblue;
    color: white;
    font-family: "Tahoma";
    font-size: 1.3em;
    width: fit-content;
}

#instructorTextDiv {
    width: 60%;
    height: fit-content;
    padding: 10px;
    border-radius: 10px;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
    background-color: lightblue;
}

#speed-display {
    position: absolute;
    top: 80%;
    font-size: 2.6em;
    color: white;
}

#end-overlay-div {
    background-color: rgb(105, 0, 0);
    width: 100%;
    height: 100%;
    margin: none;
}

#exam-end-title {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-size: 5em;
    margin: 30px;
}

#reasons-div {
    background-color: rgb(225, 103, 103);
    border-radius: 15px;
    width: 85%;
    height: 70%;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.reason-text {
    font-size: 2.4em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    text-align: left;
    padding: 3%;
}

#try-again-button {
    background-color: rgb(101, 5, 5);
    color: white;
    border-radius: 15px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}
.blinker-img {
    width: 10%;
    padding-right: 2%;
}

#try-again-button {
    width: 50%;
    border: none;
    background-color: rgb(74, 5, 5);
    font-size: 1.5em;
    color: white;
    border-radius: 5px;

}

.setting-label {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.7em;
}

.setting-pair {
    text-align: center;
    margin-top: 10%;
    margin-bottom: 10%;
}

#logo-image {
    width: 70%;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}